.header {
  max-width: 1100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background-color: #fff;
  padding: 92px 50px;
  margin: auto;
}

.header__link__list {
  display: flex;
  justify-self: center;
  gap: 32px;
  padding-right: 37px;
  list-style-position: inside;
}

.header__links__list__item {
  font-weight: 400;
  font-size: 18px;
  color: #000;
  list-style: none;
  list-style-image: url("../images/list_marker.svg");
}

.header__links__list__item__no__bullit {
  list-style: none;
  text-underline-offset: 4px;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link__active {
  text-decoration: none;
}

.adress {
  font-style: normal;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-underline-offset: 4px;
  line-height: 24px;
}

.cover {
  position: relative;
  background-image: url("../images/lotus-flower.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1100px;
  min-height: 757px;
  margin: 0 auto;
  z-index: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0px 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 30px;
  color: #fff;
  line-height: 100%;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.no__spacing {
  letter-spacing: 0px;
}

.aligned__text {
  line-height: 115%;
}

.aligned__text__center {
  align-self: center;
}

.aligned__text__right {
  align-self: flex-end;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 106px 50px 50px;
  gap: 107px;
}

.cover__description-text {
  display: inline;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.bet__button {
  border: 1px solid #fff;
  background-color: transparent;
  width: 256px;
  height: 51px;
  font-weight: 500;
  line-height: 52px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
}

.lots {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 186px;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1;
  padding-left: 64px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: left;
  margin-left: 24px;
  padding-top: 29px;
  width: 1052px;
}

.lots__card-list-item {
  min-height: 596px;
  flex-basis: calc(33% - 25px);
  /*расчет ширины карточки*/
  flex-grow: 1;
}

.card__link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.card__type__film {
  background-image: url("../images/card_type_film.jpg");
}

.card__type__book {
  background-image: url("../images/card_type_book.jpg");
}

.card__type__picture {
  background-image: url("../images/card_type_picture.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 120%;
  color: #fff;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
}

.link__more {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  text-underline-offset: 4px;
  padding-top: 30px;
  padding-left: 64px;
}

.about {
  max-width: 1100px;
  margin-top: 120px;
  padding-left: 24px;
  padding-right: 24px
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto 1fr;
  padding-top: 35px;
  column-gap: 25px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  align-self: center;
}

.text__container {
  grid-column: 2/3;
  grid-row: 2/4;
  justify-self: start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: start;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  width: 1100px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: flex-start;
  padding: 180px 50px 82px 50px;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  max-width: 265px;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 18px;
  color: #000;
  text-underline-offset: 4px;
  line-height: 24.3px;
}

.footer__menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__menu__list__item {
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.footer__menu__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu__link__active {
  text-decoration: none;
}

.footer__social__icon {
  width: 48px;
  height: 48px;
}

.footer__social__list {
  display: flex;
  column-gap: 48px;
  justify-content: flex-end;
  align-items: flex-start;
}